doctype html
html(lang="en")
  head
    title Gemma
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link( rel="stylesheet" href="./css/style.css")

      
  body
    //overlay intro
    include ./includes/home.jade
    
    //Header
    include ./includes/references.jade
    
    //pageName
    include ./includes/products.jade
    
    //Member
    include ./includes/contact.jade
    


    //Jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    //Java
    script(src="JS/scripts.js")
