mixin skill (name, num)
  .skills
    h2= name
    .bg
      div(class="level" + num)
#AboutMe        
.container.aboutme
  h1 ABOUT ME
  
  .content  
    img(src="images/face.png", alt="")
    
    .text
      h2 
        |All my life i have been fascinated with technology and 
        |digital media. When i struck my first job at a printers
        |i fell in love with photography and i had always had 
        |an interest in Photshop. I learnt a lot, but I hungered
        |for more and i still do to this day. My passion switched
        |from photo editing to web design with the release of
        |Adobe Muse. After about 12 months of creating with Muse
        |i started to relealise how restritive the program is. So on April the 11th 2016, I uninstalled Muse and set sail to learn 
        span REAL 
        |web development
  #Skills  
  h1 Skills

  .skill
    +skill("Communication", "8")
    +skill("Design", "5")
    +skill("Learning","10")
    +skill("Organization", "7")
    +skill("Planning", "7")
    +skill("Problem Solving", "10")
