mixin photo(pic)
  img(src="#{pic}")

#Photography
.container.photography
  h1 PHOTOGRAPHY
  
  .gallery
    +photo("./images/gallery/gallery_1.jpg")
    +photo("./images/gallery/gallery_2.jpg")
    +photo("./images/gallery/gallery_3.jpg")
    +photo("./images/gallery/gallery_4.jpg")
    +photo("./images/gallery/gallery_5.jpg")
    +photo("./images/gallery/gallery_6.jpg")
    
    
.footer
  h1 FURBYSHAIN@GMAIL.COM
