#Home
.container.title
  nav
    ul
      li 
        a(href="#Home") Home
      li 
        a(href="#AboutMe") About Me
      li 
        a(href="#Skills") Skills
      li
         a(href="#WebDev") Web Development
      li
         a(href="#Youtube") Youtube
      li
         a(href="#Photography") Photography
  
  .name
    h1 
      span.orange S
      |hain 
      span.orange F
      |urby
  
  .subtext
    h3  Photo // Video // Web
