#Home
.nav(onclick="dropdownfun()")
  span 
  span 
  span  
  ul
    li 
      a(href="#Home") Home
    li 
      a(href="#AboutMe") About Me
    li 
      a(href="#Skills") Skills
    li
       a(href="#WebDev") Web Development
    li
       a(href="#Youtube") Youtube
    li
       a(href="#Photography") Photography
.container.title
    
  .name
    h1 
      span.orange S
      |hain 
      span.orange F
      |urby
  
  .subtext
    h3  Photo // Video // Web
