
.container.webDev
  #WebDev    
  h1 Web Development

  .video
    <iframe src="https://www.youtube.com/embed/FsethGojhUA?list=PLqGj3iMvMa4KeBN2krBtcO3U90_7SOl-A" frameborder="0" allowfullscreen></iframe>
  .git
    a(href="#") Github
  
  .content
    p On April 11th 2016, i scrapped WYSIWYG design and decided to learn to code.and for a while i struggeled, with quite severe dyslexia i found myself getting lost in the code. But when i achieved something and i refreshed the page it was a real rush, knowing i could make a string of text into a beautiful web element. Before long i was lost again, but not in the code, instead in as much information as i could find. Videos, documentation, presentations. Anything i could find at this point i was absorbing. Eventually i came across Jade and Sass, with these tools my workflow increased tenfold, Easier to read and manage ment my dyslexia became much less of an issue and i found freedom. Today only 2 weeks and 3 days after starting my journey, i am confident enough to build this project. i hope you enjoy. 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
