#Youtube
.container.youtube
  .title 
    h1 YouTube
  .brief
    p I create information videos on Youtube, Either related to my hobbies or with the aim to help people.
    
  .video
    <iframe src="https://www.youtube.com/embed/NxRh1wnPhrM" frameborder="0" allowfullscreen></iframe>
    
  .content
    p  Running a youtube channel has been an incredible experience. Creating content for specific viewers answering questions and having coversatiosn and debates is defaintely something i have grown acustom too. These skills have allowed me to transform how i communicate with potential clientel aswell as greatly improve my communication and public speaking skills. 
