#home
.container.home

  h1 
    span.pink G 
    |E M M A
  img(src="../images/gem.svg", alt="")
    
  .nav(onclick="dropdownfun()")
    span 
    span 
    span  
    ul
      li 
        a(href="#home") Home
      li 
        a(href="#products") Treatments
      li 
        a(href="#contact") Contact
        
  .subtext
    img(src="../images/gem.svg", alt="")
    h2 
      span.pink R
      |elax   
      span.pink R
      |echarge   
      span.pink R
      |evitalise   
    h5 Beauty and Massage therapy
    
      
      

  .about
    p Hello, my name is Gemma, I have been a fully qualified and insured beauty, holistic therapist for four years. I'm a mobile therapist, so i can set up my equipment and do the treatments in the comfort of your own home! If you have any queries please don't hesitate to text, call or email me! 
  
