#home
.container.home
  h1 
    span.pink G 
    |E M M A
    
  .nav(onclick="dropdownfun()")
    span 
    span 
    span  
    ul
      li 
        a(href="#home") Home
      li 
        a(href="#products") products
      li 
        a(href="#contact") Contact
        
  .subtext
    h2 
      span.pink R
      |elax   
      span.pink R
      |echarge   
      span.pink R
      |evitalise   
    h5 Beauty and Massage therapy
    
      
      

//  .carousel  
    ul.panes
      li
        h2 Ultimate spa and Relaxtion
        h2 £100
        h2 and give you some stuff and things and yeeey
      li
        h2 Pane 02 title  
      li
        h2 Pane 03 title
      li
        h2 Pane 04 title
      li
        h2 Pane 05 title
