.carousel  
  ul.panes
    li
      .content
        h2 
          span.pink "
          | Lucy - I have had the pleasure of receiving treatments from Gemma now for the past 4 years and can happily say I would never go else where. she professional and friendly. She is very knowledgable of the industry and always able to give good advice and help when needed. I can not recommend Gemma's services highly enough.
          span.pink "
    li
      .content
        h2 
          span.pink "
          | Helen - Great at getting back to you, great at fitting in appointments, great workmanship and professionalism, great generosity with time, great value for money - great all round!
          span.pink "
  
