$primary: #e6e5e5
$secondary: #0b0b0b
$accent: #f89a2c

body
  transition: 0.5s ease
  background-color: $primary
  margin: 0px
  font-family: IndustryW00-Thin
  color: $primary

@import Aboutme
@import photography
@import Title
@import webdev
@import youtube


@import url(http://db.onlinewebfonts.com/c/764c368d049b6dac50bd2fa107f2300d?family=IndustryW00-Thin)
