.container.home
  height: 100vh
  background:
    image: url("../images/bg.jpg")
    size: cover
    repeat: none
    position: center
    margin: none
  img
    display: inline-block
    height: 20px
    width: auto
    padding-left: 5px
  h1
    display: inline-block
    margin: 0px
    padding-top: 10px
    padding-left: 5px

  .nav
    position: fixed
    top: 5px
    right: 10px
    font-size: 18px

    ul
      margin-top: 0px

      a
        text-decoration: none
        font-size: 25px
        color: $primary
        padding: 5px
        line-height: 45px
        transition: 0.5s ease
      a:hover
        color: $accent
        border-bottom: 3px solid

      a:active
        color: $accent
        border-bottom: 3px solid

      li
        display: inline-block

  .pink
    color: $accent

  .subtext
    width: 50vw
    margin-left: auto
    margin-right: auto
    text-align: center
    margin-top: 35vh
    font-size: 28px
    img
      height: 50px
    h2
      margin-bottom: 0px
      margin-top: 0px
    h5
      font-size: 18px
      color: #999
      margin-top: 0px


  .about
    p
      text-align: center
      width: 900px
      margin-left: auto
      margin-right: auto
      font-size: 28px
      padding-top: 15vh
      padding-bottom: 15vh

@media (max-width: 900px)
  .container.home
    height: auto
    .nav
      display: block
      text-align: right
      width: 40px
      span
        width: 40px
        background-color: white
        height: 3px
        display: block
        margin-bottom: 10px
        margin-top: 5px

      ul
        display: block
        transform: translateX(50px)
        text-align: left
        transition: 1s
      ul.show
        display: block
        padding: 0px
        text-align: left
        transform: translateX(0px)
        transition: 1s

        a
          margin-left: -60px
        a:hover
          color: $accent
          border-bottom: 3px solid

    .subtext
      margin-top: 15vh
    .about
      p
        text-align: center
        width: 80vw
        margin-left: auto
        margin-right: auto
        font-size: 4vw
        padding-top: 5vh
