.container.reference
  overflow:hidden
  height:auto
  margin-left: auto
  margin-right: auto
  text-align: center
  color: $secondary
  vertical-align: bottom
  background:
    image:url(../images/gem.svg)
    repeat: no-repeat
    position: center bottom
    size: 100px 100px

  .panes
    list-style:none
    position:relative
    width:200%; /* Number of panes * 100% */
    overflow:hidden
    -moz-animation:carousel 60s infinite
    -webkit-animation:carousel 60s infinite
    animation:carousel 30s infinite
    padding: 0px

  li
    position: relative
    float:left
    width:50%

  .content
    width: 80%
    margin-left: auto
    margin-right: auto
    h2
      font-weight: bold

    .pink
      color: $accent
      font-size: 40px
      line-height: 25px

@keyframes carousel
  0%    { left:0; }
  25%   { left:0; }
  49%  { left:0%; }
  50%  { left:-100%; }
  75%   { left:-100%; }
  99%   { left:-100%; }
  100%  { left:-0%; }



@media (max-width: 700px)
    .content
      width: 90%
      h2
        font-size: 5vw
