@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100);
body {
  transition: 0.5s ease;
  background-color: #e6e5e5;
  margin: 0px;
  font-family: Alegreya sans SC;
  color: #e6e5e5;
}

.container.home {
  height: 100vh;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-margin: none;
}

.container.home h1 {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.container.home .nav {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 18px;
}

.container.home .nav ul {
  margin-top: 0px;
}

.container.home .nav ul a {
  text-decoration: none;
  font-size: 25px;
  color: #e6e5e5;
  padding: 5px;
  line-height: 45px;
  transition: 0.5s ease;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e6e5e5;
}

.container.home .nav ul a:hover {
  color: #ff00ff;
  border-bottom: 3px solid;
}

.container.home .nav ul a:active {
  color: #ff00ff;
  border-bottom: 3px solid;
}

.container.home .nav ul li {
  display: inline-block;
}

.container.home .pink {
  color: #ff00ff;
}

.container.home .subtext {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50vh;
  font-size: 28px;
}

.container.home .subtext h2 {
  margin-bottom: 0px;
}

.container.home .subtext h5 {
  font-size: 18px;
  color: #999;
  margin-top: 0px;
}

@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 700px) {
  .container.home .nav {
    display: block;
    text-align: right;
    width: 40px;
  }
  .container.home .nav span {
    width: 40px;
    background-color: white;
    height: 3px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .container.home .nav ul {
    display: block;
    transform: translateX(50px);
    text-align: left;
    transition: 1s;
  }
  .container.home .nav ul.show {
    display: block;
    padding: 0px;
    text-align: left;
    transform: translateX(0px);
    transition: 1s;
  }
  .container.home .nav ul.show a {
    margin-left: -60px;
  }
  .container.home .nav ul.show a:hover {
    color: #ff00ff;
    border-bottom: 3px solid;
  }
  .container.home .subtext {
    margin-top: 30vh;
  }
  .container.home .carousel {
    width: 80vw;
    height: 50vh;
    margin-top: 60vh;
  }
}

.container.reference {
  overflow: hidden;
  width: 100vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0b0b0b;
}

.container.reference .panes {
  list-style: none;
  position: relative;
  width: 200%;
  /* Number of panes * 100% */
  overflow: hidden;
  -moz-animation: carousel 60s infinite;
  -webkit-animation: carousel 60s infinite;
  animation: carousel 30s infinite;
  padding: 0px;
}

.container.reference li {
  position: relative;
  float: left;
  width: 50%;
}

.container.reference .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container.reference .pink {
  color: #ff00ff;
  font-size: 40px;
  line-height: 25px;
}

@keyframes carousel {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  49% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  75% {
    left: -100%;
  }
  99% {
    left: -100%;
  }
  100% {
    left: -0%;
  }
}

@media (max-width: 900px) {
  .carousel .content {
    width: 90%;
    font-size: 10px;
  }
}

.container.products {
  background-image: url("../images/prodbg.jpg");
  background-size: cover;
  background-repeat: none;
  width: 100%;
  padding-top: 25px;
}

.container.products .product {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #333;
}

.container.products .prodname {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-right: 25px;
  margin-left: 2px;
}

.container.products .desciption {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.container.products .price {
  text-align: center;
  display: inline-block;
  width: 10%;
  color: #ff00ff;
  vertical-align: middle;
}

.container.products .title {
  width: auto;
  text-align: center;
}

.container.products .title h1 {
  width: auto;
  border-bottom: 1px solid #ff00ff;
}

.container.products .maintitle {
  width: auto;
  text-align: center;
}

.container.products .maintitle h1 {
  font-size: 50px;
}

@media (max-width: 700px) {
  .container.products {
    font-size: 10px;
  }
  .container.products .product {
    width: 100vw;
  }
  .container.products h1 {
    font-size: 24px;
  }
  .container.products .price {
    width: 10%;
  }
  .container.products .maintitle {
    width: auto;
    text-align: center;
  }
  .container.products .maintitle h1 {
    font-size: 35px;
  }
}

.container.contact {
  text-align: center;
}

.container.contact h1 {
  font-size: 50px;
  color: #0b0b0b;
}

.container.contact h2 {
  color: #0b0b0b;
}
